<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
                /* http://meyerweb.com/eric/tools/css/reset/ 
            v2.0 | 20110126
            License: none (public domain)
            */
        
            html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        body {
            line-height: 1;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /* buttons */
        
        body {
            background-color: #848a86;
            overflow: hidden;
            /*easeInOutCubic*/
            transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
        }
        
        body.show {
            background-color: #d6cbcb;
        }
        
        button {
            cursor: pointer;
            margin: 5px;
            padding: 10px 15px;
            border-radius: 7px;
            font-size: 1.2em;
            box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
            /*ease*/
            transition: 0.1s ease;
        }
        
        .button-holder,
        .modal-bg {
            position: fixed;
            width: 100%;
            height: 100%;
        }
        
        .button-holder {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #button_1 {
            background: #575e57;
            border: 1px solid rgba(18, 70, 13, 0.6);
        }
        
        #button_2 {
            background: #fd7676;
            border: 1px solid rgba(78, 10, 10, 0.6);
        }
        
        
       
        
       
    </style>
    <title>Document</title>
</head>
<body>
    <div class="button-holder">
        <div class="buttons">
            <a href="/ambulance"><button>Ambulance</button></a>
            <a href="/beds">     <button>Beds</button></a>
           <a href="/doctor">     <button>Doctor</button></a>
            <a href="/food">     <button>Food</button></a>
           <a href="/helpline">     <button>Helpline</button></a>
            <a href="/medicine">     <button >Medicine</button></a>
            <a href="oxygen">     <button >Oxygen</button></a>
            <a href="plasma">     <button >Plasma</button></a>
            <a href="testing">     <button>Testing</button></a>
           
            
        </div>
   
    
</body>
</html>